.child {
  border: 2px solid #ff4444;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
}
button {
  padding: 5px 10px;
  background: #ff4444;
  color: white;
  border: none;
  border-radius: 5px;
}
